@font-face {
  font-family: Pretendard;
  font-weight: 400;
  src: url('./assets/font/Pretendard-Regular.otf') format('opentype');
}

@font-face {
  font-family: Baloo;
  font-weight: 400;
  src: url('./assets/font/Baloo2.ttf') format('truetype');
}

@font-face {
  font-family: Baloo-bold;
  font-weight: 700;
  src: url('./assets/font/Baloo2-Bold.ttf') format('truetype');
}

body {
  font-family: Pretendard, Baloo, Baloo-bold;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

#root {
  max-width: 400px;
  width: 100%;
  min-height: 100vh;
  border: 1px solid pink;
}
