@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url('./assets/font/Pretendard-Regular.otf') format('opentype');
}

body {
  font-family: 'Pretendard';
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

#root {
  max-width: 600px;
  width: 100%;
  min-height: 100vh;
}
